{% extends "menu_template.html" %}
{% block title %}Контакты{% endblock title %}
{% block header %}Наши сотрудники{% endblock header %}

{% block content %}
<div class="container contacts">
    <h2>Наши сотрудники</h2>
    <div class="card-container">
        {% for master, age in masters_with_ages %}
        <div class="card">
            <h4>{{ master.name }}</h4>
            {% if master.img %}
            <img src="{{ MEDIA_URL }}{{ master.img }}" width="150" height="150">
            {% else %}
            <img src="https://avatars.mds.yandex.net/i?id=d97ce0a89d90bf016b1cb96a6e86114d3e3c3920-12529201-images-thumbs&n=13" width="150" height="150">
            {% endif %}
            <p>Возраст: {{ age }}</p>
            <p>Телефон: {{ master.phone_number }}</p>
            <p>Специализация: {{ master.specialization.name }}</p>
            <p>Количество выполненных заказов: {{ master.order_count }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% include "footer.html" %}
{% endblock content %}