<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Создание отзыва</title>
</head>
<body>
    <li><a href="/">На главную</a></li>
    <h1>Создать отзыв</h1>
    <form method="post">
        {% csrf_token %}
        <label>Текст отзыва:</label>
        <textarea name="text" required></textarea>
        <label>Оценка:</label>
        <select name="rating" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button type="submit">Отправить</button>
    </form>
</body>
</html>