<!DOCTYPE html> 
<html> 
    <head> 
        <meta charset="UTF-8"> 
        <title>Удаление отзыва</title> 
    </head> 
    <body> 
        <li><a href="/">На главную</a></li>
        <h1>Ваш отзыв</h1>
        <form method="post">
            {% csrf_token %}
            <div>
                <h3>{{ review.user.name }}</h3>
                <p>{{ review.text }}</p>
                <p>Дата: {{ review.date }}</p>
            </div><br>
            <button type="submit">Удалить</button>
        </form>
    </body> 
</html>