<style>
    footer {
        background-color: #0f1111;
        text-align: center;
        padding-bottom: 50px;
    }

    hr {
        margin: 0;
        margin-bottom: 50px;
    }

    footer p {
        margin: 0;
    }

@media (max-width: 992px) {
    
    .container{
        width: 850px;
    }

    p {
        font-size: 0.9em;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
        width: 600px;
    }
    p {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
        width: 400px;
    }
    p {
        font-size: 0.8em;
    }

}


</style>

<footer>
    <hr>
    <div class="container">
        <p>2024 Autocare.com Все права защищены 2024 &copy</p>
        <!-- <q cite="https://kartaslov.ru/%D1%86%D0%B8%D1%82%D0%B0%D1%82%D1%8B-%D1%81%D0%BE-%D1%81%D0%BB%D0%BE%D0%B2%D0%BE%D0%BC/%D0%B0%D0%B2%D1%82%D0%BE%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81">
            Лучшая машина — новая машина!</q> -->
    </div>
</footer>