{% extends "menu_template.html" %}
{% block title %}{{ service.name }}{% endblock title %}
{% block header %}{{ service.name }}{% endblock header %}

{% block content %}
<div class="service-detail">
    <h2>{{ service.name }}</h2>
    <img src="{{ service.image_url }}" alt="{{ service.name }}">
    <p>Категория: {{ service.category }}</p>
    <p>Цена: {{ service.price }}</p>
    <p>{{ service.name }}</p>
    <form action="{% url 'add_to_cart' service.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Добавить в корзину</button>
    </form>

</div>
{% include "footer.html" %}
{% endblock content %}
